// @Author: bomberry
// @Date:   2018-05-29T22:06:51-07:00
// @Filename: _variables.sass
// @Last modified by:   bomberry
// @Last modified time: 2018-06-02T18:08:58-07:00

// NOTE: Variables used in bomberry "theme" — bomberry.sass and associated files.

$color-white: rgba(255,255,255,1.00)
$color-gray-lightest: rgba(236,236,236,1.00)
$color-gray-lighter: rgba(188,188,188,1.00)
$color-gray-light: rgba(156,156,156,1.00)
$color-gray: rgba(124,124,124,1.00)
$color-gray-dark: rgba(48,48,48,1.00)
$color-gray-darker: rgba(32,32,32,1.00)
$color-gray-darkest: rgba(16,16,16,1.00)
$color-black: rgba(0,0,0,1.00)

$color-red: rgba(204,0,0,1.00)
$color-orange: rgba(255, 128, 0,1.00)
$color-yellow: rgba(255,255,0,1.00)
$color-green: rgba(0,153,0,1.00)
$color-blue: rgba(51, 85, 255,1.00)
$color-purple: rgba(136,0,204,1.00)

$color-site: $color-black
$color-resume: $color-red
$color-portfolio: $color-orange
$color-kitchen: $color-yellow
$color-1: $color-green
$color-projects: $color-blue
$color-contact: $color-purple
$color-adobe: rgba(14,132,207,1.00)


$map: (color-portfolio: $color-portfolio, color-resume: $color-resume, color-kitchen: $color-kitchen)
$color-map: (site: $color-black, resume: $color-red, portfolio: $color-orange, kitchen: $color-yellow, 1: $color-green, projects: $color-blue, contact: $color-purple, adobe: rgba(14,132,207,1.00), apple: rgba(14,132,207,1.00))



$color-hibiscus: rgba(129,4,130,1.00)
$color-cinnamon: rgba(86,47,5,1.00)
$color-lemongrass: rgba(207,226,173,1.00)
$color-mint: rgba(27,77,18,1.00)
$color-ginger: rgba(234,228,165,1.00)
$color-galangal: rgba(231,229,191,1.00)
$color-greencardamon: rgba(189,212,126,1.00)
$color-meyerlemon: rgba(250,234,79,1.00)
$color-brownsugar: rgba(108,78,16,1.00)
$color-chicory: rgba(25,16,0,1.00)
$color-clove: rgba(52,32,16,1.00)
$color-staranise: rgba(58,19,2,1.00)
$color-coconut: rgba(245,238,225,1.00)
$color-chilipepper: rgba(156,23,20,1.00)
$color-blackpepper: rgba(20,18,17,1.00)


$layout-breath-unit: 7vmin


$text-shadow-dark: 0px 3px 6px rgba($color-gray-darkest, 0.62)
$text-shadow-light: 0px 3px 6px rgba($color-gray-lightest, 0.62)
