@charset "UTF-8";
/* CSS Document */
.box-shadow {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35); }
  .box-shadow-medium {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15); }
  .box-shadow-small {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15); }
  .box-shadow-small-white {
    box-shadow: 0 1px 2px rgba(255, 255, 255, 0.62); }

.box-hover {
  transition: box-shadow 0.16s ease-in-out; }
  .box-hover:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35); }

/* CSS Document */
html {
  font-size: 1em; }

body {
  font-size: 1rem;
  margin-top: 61px; }

p {
  line-height: 1.62; }

hr {
  color: transparent;
  border-color: transparent; }

nav .fa {
  margin-right: 0.75rem; }
footer .fa, .contact .fa {
  margin-right: 0.5rem; }
  @media screen and (max-width: 767px) {
    footer .fa, .contact .fa {
      margin-right: 0; } }

.navbar.location-site, .navbar.location-resume, .navbar.location-portfolio, .navbar.location-kitchen, .navbar.location-1, .navbar.location-projects, .navbar.location-contact, .navbar.location-adobe {
  border-bottom-width: 0.38rem;
  border-bottom-style: solid; }

.navbar {
  border-radius: 0px;
  border: 0px; }
  .navbar.noMargin-bottom {
    margin-bottom: 0px; }
  .navbar-nav {
    margin: 7.5px -15px;
    margin-left: 0px;
    margin-right: 0px; }
    .navbar-nav > li > a {
      padding-top: 10px;
      padding-bottom: 10px; }
      .navbar-nav > li > a:hover {
        color: white !important; }
  .navbar > *[class*="location-"] {
    border-right: 0;
    padding-right: 0; }
  .navbar.location-site {
    border-bottom-color: black;
    color: #9c9c9c; }
  .navbar.location-resume {
    border-bottom-color: #cc0000;
    color: #cc0000; }
  .navbar.location-portfolio {
    border-bottom-color: #ff8000;
    color: #ff8000; }
  .navbar.location-kitchen {
    border-bottom-color: yellow;
    color: yellow; }
  .navbar.location-1 {
    border-bottom-color: #009900;
    color: #009900; }
  .navbar.location-projects {
    border-bottom-color: #3355ff;
    text-decoration: none;
    color: #3355ff; }
  .navbar.location-contact {
    border-bottom-color: #8800cc;
    color: #8800cc; }
  .navbar.location-adobe {
    border-bottom-color: #0e84cf;
    color: #0e84cf; }
  .navbar.navbar-inverse .navbar-nav > .open a {
    background-color: transparent; }
    .navbar.navbar-inverse .navbar-nav > .open a:hover, .navbar.navbar-inverse .navbar-nav > .open a:active {
      color: white !important;
      background-color: transparent; }
  .navbar.navbar-inverse > .dropdown.open > ul.dropdown-menu {
    background-color: #101010; }
    .navbar.navbar-inverse > .dropdown.open > ul.dropdown-menu > li:hover {
      background-color: black !important; }
      .navbar.navbar-inverse > .dropdown.open > ul.dropdown-menu > li:hover > a:hover,
      .navbar.navbar-inverse > .dropdown.open > ul.dropdown-menu > li:hover > a:active {
        background-color: black !important; }

.dropdown-menu {
  font-size: 1rem;
  line-height: 20px;
  background-color: #202020; }
  .dropdown-menu > li > a {
    background-color: #202020; }
    .dropdown-menu > li > a:hover {
      background-color: black; }
    .dropdown-menu > li > a:focus {
      background-color: #202020; }

.navbar-brand {
  height: auto;
  padding-left: 0;
  padding-right: 0; }
  .navbar-brand.location {
    color: #9c9c9c; }
    .navbar-brand.location-resume {
      color: #cc0000; }
    .navbar-brand.location-portfolio {
      color: #ff8000; }
    .navbar-brand.location-kitchen {
      color: yellow; }
    .navbar-brand.location-1 {
      color: #009900; }
    .navbar-brand.location-projects {
      color: #3355ff; }
    .navbar-brand.location-contact {
      color: #8800cc; }
    .navbar-brand.location-adobe {
      color: #0e84cf; }
  .navbar-brand.site {
    padding-left: 0;
    color: #7c7c7c; }

@media (max-width: 768px) {
  .nav > li > a.navbar-brand {
    padding-right: 0; } }
.background-color-www {
  background-color: #9c9c9c; }
.background-color-resume {
  background-color: #cc0000; }
.background-color-portfolio {
  background-color: #ff8000; }
.background-color-kitchen {
  background-color: yellow; }
.background-color-1 {
  background-color: #009900; }
.background-color-projects {
  background-color: #3355ff; }
.background-color-contact {
  background-color: #8800cc; }
.background-color-adobe {
  background-color: #0e84cf; }
.background-color-site {
  background-color: #7c7c7c; }

svg {
  border: 0;
  vertical-align: middle; }
  svg > .icon-svg-compass, svg > .icon-svg-spatula, svg > .icon-svg-pencil {
    fill: black; }
  svg:hover .icon-svg-compass {
    fill: #cc0000;
    -webkit-filter: drop-shadow(0px 1em 2em rgba(127, 127, 127, 0.64));
    filter: drop-shadow(0px 1em 2em rgba(127, 127, 127, 0.64));
    stroke: black;
      stroke-width: 4px;
      stroke-linejoin: round; }
  svg:hover .icon-svg-spatula {
    fill: yellow;
    -webkit-filter: drop-shadow(0px 1em 2em rgba(127, 127, 127, 0.64));
    filter: drop-shadow(0px 1em 2em rgba(127, 127, 127, 0.64));
    stroke: black;
      stroke-width: 4px;
      stroke-linejoin: round; }
  svg:hover .icon-svg-pencil {
    fill: #ff8000;
    -webkit-filter: drop-shadow(0px 1em 2em rgba(127, 127, 127, 0.64));
    filter: drop-shadow(0px 1em 2em rgba(127, 127, 127, 0.64));
    stroke: black;
      stroke-width: 4px;
      stroke-linejoin: round; }

.color-www,
a.location-www {
  color: #9c9c9c !important; }
.color-resume,
a.location-resume {
  color: #cc0000 !important; }
.color-portfolio,
a.location-portfolio {
  color: #ff8000 !important; }
.color-kitchen,
a.location-kitchen {
  color: yellow !important; }
.color-1,
a.location-1 {
  color: #009900 !important; }
.color-projects,
a.location-projects {
  color: #3355ff !important; }
.color-contact,
a.location-contact {
  color: #8800cc !important; }
.color-adobe,
a.location-adobe {
  color: #0e84cf !important; }
.color-site,
a.location-site {
  color: #7c7c7c !important; }

.full-carousel {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px; }
  .full-carousel .row {
    margin: 0px;
    padding: 0px; }
  .full-carousel .carousel {
    height: 100%; }
  .full-carousel .carousel-indicators > li {
    height: 1ch;
    width: 6ch;
    margin: 1px;
    background-color: rgba #7c7c7c, 0.5;
    -webkit-border-radius: 1ch;
    border-radius: 1ch;
    transition: all 0.32s ease;
    box-shadow: 0 0px 0.68rem rgba(255, 255, 255, 0.38); }
    .full-carousel .carousel-indicators > li:hover {
      box-shadow: 0 0px 0.68rem rgba(255, 255, 255, 0.62);
      background-color: rgba(255, 255, 255, 0.5); }
    .full-carousel .carousel-indicators > li.active {
      background-color: white;
      box-shadow: 0 0px 0.68rem rgba(255, 255, 255, 0.62);
      transition: all 0.32s ease; }
  .full-carousel .carousel-inner {
    height: 100%; }
    .full-carousel .carousel-inner > .item > .img-responsive {
      -webkit-filter: brightness(62%);
      filter: brightness(62%);
      width: 100%;
      object-fit: cover; }
  .full-carousel .carousel, .full-carousel .item, .full-carousel .active {
    height: 100%; }
  .full-carousel > .item img {
    background-position: center;
    background-size: cover; }
  .full-carousel .carousel-caption {
    bottom: 10%;
    font-size: 8vmin;
    text-overflow: ellipsis;
    min-height: 20%;
    line-height: initial; }
    .full-carousel .carousel-caption span {
      display: block;
      font-size: 112%; }
    .full-carousel .carousel-caption p {
      font-size: 42%;
      color: white; }
  .full-carousel .carousel-control {
    width: 12.5%;
    transition: all 0.32s ease; }
    .full-carousel .carousel-control > .icon-next, .full-carousel .carousel-control .icon-prev {
      font-family: "FontAwesome";
      font-size: 3ch;
      position: relative;
      margin: 0;
      top: 50%;
      transform: translateY(-50%);
      transition: all 0.32s ease; }
    .full-carousel .carousel-control .icon-next {
      right: 1rem;
      transform: translate(145%, -50%); }
      .full-carousel .carousel-control .icon-next::before {
        content: "◇"; }
      .full-carousel .carousel-control .icon-next:hover::before {
        content: "◆"; }
    .full-carousel .carousel-control .icon-prev {
      left: 1rem;
      transform: translate(-150%, -50%); }
      .full-carousel .carousel-control .icon-prev::before {
        content: "◇"; }
      .full-carousel .carousel-control .icon-prev:hover::before {
        content: "◆"; }

@media (max-width: 598px) {
  .carousel-inner .img-responsive {
    -webkit-filter: brightness(62%);
    filter: brightness(62%); } }
.media-heading {
  padding-bottom: 0.5rem; }

.media + .media {
  padding-top: 3.25rem; }

img .media-object {
  height: 75px;
  width: 75px; }
  img .media-object.img-100 {
    height: 100px;
    width: 100px; }

img.media-object, svg.media-object {
  height: 75px;
  width: 75px; }
img.img-100, svg.img-100 {
  height: 100px;
  width: 100px; }

img.thumbnail + span.caption {
  display: block;
  position: relative;
  margin-top: -16px;
  margin-bottom: 16px; }

@media (max-width: 1023px) {
  .media .media-body p:last-child {
    padding-bottom: 4ch; } }
.caption > .ingredients {
  color: #9c9c9c; }
  .caption > .ingredients span.title {
    font-weight: 600; }
.caption > .col-xs-12 {
  padding-bottom: 1ch; }

.item > h4.item-name {
  margin: 10px 0 0 10px;
  position: absolute;
  display: inline-block; }
.item:hover {
  outline: rgba(216, 216, 216, 0.4) solid 0.25ch;
  background-color: rgba(216, 216, 216, 0.1);
  -webkit-box-shadow: 0px 2px 3px rgba(114, 114, 114, 0.64), 0px 3px 6px rgba(114, 114, 114, 0.52);
  box-shadow: 0px 2px 3px rgba(114, 114, 114, 0.64), 0px 3px 6px rgba(114, 114, 114, 0.52); }
  .item:hover h4.item-name {
    text-shadow: 0px 3px 6px rgba(114, 114, 114, 0.52); }

.text-tall {
  line-height: 140%; }

.breath-top {
  margin-top: 7vmin; }
.breath-top-small {
  margin-top: 3.5vmin; }
.breath-bottom {
  margin-bottom: 7vmin; }
.breath-left {
  margin-left: 7vmin; }
.breath-right {
  margin-right: 7vmin; }
.breath-h {
  margin-left: 7vmin;
  margin-right: 7vmin; }
.breath-v {
  margin-top: 7vmin;
  margin-bottom: 7vmin; }
.breath-all {
  margin: 7vmin; }
.breath-no-h {
  margin-left: 0;
  margin-right: 0; }
.breath-no-v {
  margin-top: 0;
  margin-bottom: 0; }
.breath-none {
  margin: 0; }

.icon-pad-right {
  margin-right: 0.75rem; }
.icon-pad-left {
  margin-left: 0.75rem; }

.icon.glyphicon {
  height: 48px;
  width: 48px;
  min-height: 48px;
  min-width: 48px;
  font-size: 6ch;
  padding-right: 1.5ch; }
  .icon.glyphicon.icon-large {
    height: 72px;
    width: 72px;
    min-height: 48px;
    min-width: 48px;
    font-size: 8ch;
    padding-right: 2ch; }
  .icon.glyphicon[data-item-name="hibiscus"] {
    color: #810482; }
  .icon.glyphicon[data-item-name="cinnamon"] {
    color: #562f05; }
  .icon.glyphicon[data-item-name="lemongrass"] {
    color: #cfe2ad; }
  .icon.glyphicon[data-item-name="mint"] {
    color: #1b4d12; }
  .icon.glyphicon[data-item-name="ginger"] {
    color: #eae4a5; }
  .icon.glyphicon[data-item-name="galangal"] {
    color: #e7e5bf; }
  .icon.glyphicon[data-item-name="greencardamon"] {
    color: #bdd47e; }
  .icon.glyphicon[data-item-name="meyerlemon"] {
    color: #faea4f; }
  .icon.glyphicon[data-item-name="brownsugar"] {
    color: #6c4e10; }
  .icon.glyphicon[data-item-name="chicory"] {
    color: #191000; }
  .icon.glyphicon[data-item-name="clove"] {
    color: #342010; }
  .icon.glyphicon[data-item-name="staranise"] {
    color: #3a1302; }
  .icon.glyphicon[data-item-name="coconut"] {
    color: #f5eee1; }
  .icon.glyphicon[data-item-name="chilipepper"] {
    color: #9c1714; }
  .icon.glyphicon[data-item-name="blackpepper"] {
    color: #141211; }

#area-site section {
  padding-top: 7vmin;
  padding-bottom: 7vmin; }
  #area-site section.page-introduction {
    background-image: url("/media/images/Headshot-DarkGray-Masked.png");
    background-repeat: no-repeat;
    background-position: 110% 70%;
    background-attachment: local; }
#area-site ul.nav.navbar-right {
  margin: 0;
  padding: 0;
  padding-top: 0.75rem; }
  #area-site ul.nav.navbar-right li {
    margin-right: 2.5rem;
    text-align: center; }
    #area-site ul.nav.navbar-right li a {
      padding-top: 5px; }
    #area-site ul.nav.navbar-right li .fa {
      margin-right: 0.5rem;
      line-height: 20px; }
    #area-site ul.nav.navbar-right li .location-names {
      font-size: 0.5rem; }
    #area-site ul.nav.navbar-right li:last-of-type {
      margin-right: 0; }
#area-site .container.well {
  margin-top: 7vmin; }

.container.contact.well {
  background-color: transparent; }
.container.contact address > span {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; }
.container .title {
  margin-bottom: 1.5rem; }

#area-resume section div.container article {
  padding-top: 7vmin;
  padding-bottom: 4.3209876543vmin; }
  #area-resume section div.container article div.row.link-portfolio {
    padding-bottom: 1.5ch; }
    #area-resume section div.container article div.row.link-portfolio-hide-show {
      display: none; }
    #area-resume section div.container article div.row.link-portfolio .btn-default:hover {
      color: white;
      background-color: #cc0000; }
  #area-resume section div.container article div.col-show-col {
    display: none; }
  #area-resume section div.container article:hover {
    background-color: rgba(216, 216, 216, 0.1); }
    #area-resume section div.container article:hover div.row.link-portfolio {
      display: block; }
      #area-resume section div.container article:hover div.row.link-portfolio-hide-show {
        display: block; }
    #area-resume section div.container article:hover .btn-default {
      color: #202020;
      background-color: #ececec; }
    #area-resume section div.container article:hover div.col-show-col {
      display: block; }

#area-kitchen .btn.btn-primary {
  margin-bottom: 10px;
  color: black;
  background-color: yellow;
  border-color: #9c9c9c;
  -webkit-box-shadow: inset 0px 2px 3px rgba(114, 114, 114, 0.64), inset 0px 3px 6px rgba(114, 114, 114, 0.52);
  box-shadow: inset 0px 2px 3px rgba(114, 114, 114, 0.64), inset 0px 3px 6px rgba(114, 114, 114, 0.52);
  -webkit-filter: brightness(97%);
  filter: brightness(97%); }
  #area-kitchen .btn.btn-primary:hover {
    outline: #7c7c7c;
    -webkit-filter: brightness(100%);
    filter: brightness(100%);
    -webkit-box-shadow: 0px 2px 3px rgba(114, 114, 114, 0.64), 0px 3px 6px rgba(114, 114, 114, 0.52);
    box-shadow: 0px 2px 3px rgba(114, 114, 114, 0.64), 0px 3px 6px rgba(114, 114, 114, 0.52); }

#area-casestudy ul.nav.navbar-right .dropdown-menu, #area-portfolio ul.nav.navbar-right .dropdown-menu {
  background-color: #202020; }
  #area-casestudy ul.nav.navbar-right .dropdown-menu > li > a, #area-portfolio ul.nav.navbar-right .dropdown-menu > li > a {
    color: #9c9c9c;
    background-color: #202020; }
    #area-casestudy ul.nav.navbar-right .dropdown-menu > li > a:hover, #area-portfolio ul.nav.navbar-right .dropdown-menu > li > a:hover {
      color: black;
      background-color: #ff8000; }
    #area-casestudy ul.nav.navbar-right .dropdown-menu > li > a:focus, #area-portfolio ul.nav.navbar-right .dropdown-menu > li > a:focus {
      color: #ff8000;
      background-color: #202020; }
#area-casestudy .carousel-indicators > li, #area-portfolio .carousel-indicators > li {
  height: 1ch;
  width: 6ch;
  margin: 1px;
  background-color: #ff8000;
  -webkit-border-radius: 1ch;
  border-radius: 1ch; }
  #area-casestudy .carousel-indicators > li.active, #area-portfolio .carousel-indicators > li.active {
    background-color: transparent; }

section.casestudy {
  margin-top: 14vmin;
  margin-bottom: 14vmin; }
  section.casestudy.cs-light {
    color: #101010;
    background: #ececec; }
  section.casestudy.cs-dark {
    color: white;
    background: #202020; }
  section.casestudy > .container.gallery {
    text-align: center; }
    section.casestudy > .container.gallery .img-thumbnail {
      margin: 2ch 1ch;
      border-color: transparent; }
      section.casestudy > .container.gallery .img-thumbnail:hover, section.casestudy > .container.gallery .img-thumbnail:focus, section.casestudy > .container.gallery .img-thumbnail.active {
        border-color: transparent; }

.jumbotron.casestudy.return-portfolio {
  margin-bottom: 0;
  min-height: 5ch; }

.jumbotron.casestudy.return-portfolio + .jumbotron.cta {
  padding-top: 0; }
  .jumbotron.casestudy.return-portfolio + .jumbotron.cta > .container {
    padding-top: 0; }

.featured {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row; }
  .featured > .feature {
    display: flex;
    min-height: 62vh;
    margin: 0;
    flex: 1 1 calc(50% - 60px);
    flex-direction: row;
    justify-content: center;
    padding: 30px;
    transition: all 0.16s ease; }
    @media screen and (max-width: 767px) {
      .featured > .feature {
        flex-basis: 1 1 calc(100% - 60px);
        flex-direction: column;
        min-height: 38vh;
        margin: 0; } }
    .featured > .feature:hover {
      color: white;
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3); }
    .featured > .feature > div {
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      padding: 2.62rem; }
      .featured > .feature > div a.btn {
        border-radius: 1ch; }
        .featured > .feature > div a.btn .fa:first-of-type {
          margin-right: 0.75rem; }
        .featured > .feature > div a.btn .fa:last-of-type {
          margin-left: 0.75rem; }
    .featured > .feature.feature-1 {
      background-color: rgba(236, 236, 236, 0.62);
      background-image: url("/portfolio/assets/streamlio/Streamlio-BC-Rendering.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      background-blend-mode: screen, multiply; }
      .featured > .feature.feature-1:hover {
        background-color: rgba(16, 16, 16, 0.38); }
      .featured > .feature.feature-1:hover {
        background-blend-mode: multiply, screen; }
      .featured > .feature.feature-1 .btn {
        background-color: #854300;
        border: 0.1rem solid white;
        color: white; }
        .featured > .feature.feature-1 .btn:hover {
          background-color: #ff8000;
          color: white; }
    .featured > .feature.feature-2 {
      background-color: rgba(236, 236, 236, 0.62);
      background-image: url("/portfolio/assets/craftmaster/CraftMaster-Branding-AppIcons@1x.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      background-blend-mode: screen, multiply; }
      .featured > .feature.feature-2:hover {
        background-color: rgba(16, 16, 16, 0.38); }
      .featured > .feature.feature-2:hover {
        background-blend-mode: multiply, screen; }
      .featured > .feature.feature-2 .btn {
        background-color: #854300;
        border: 0.1rem solid white;
        color: white; }
        .featured > .feature.feature-2 .btn:hover {
          background-color: #ff8000;
          color: white; }
    .featured > .feature.feature-3 {
      background-color: rgba(236, 236, 236, 0.62);
      background-image: url("/portfolio/assets/default/placeholderA.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      background-blend-mode: screen, multiply; }
      .featured > .feature.feature-3:hover {
        background-color: rgba(16, 16, 16, 0.38); }
      .featured > .feature.feature-3:hover {
        background-blend-mode: multiply, screen; }
      .featured > .feature.feature-3 .btn {
        background-color: #854300;
        border: 0.1rem solid white;
        color: white; }
        .featured > .feature.feature-3 .btn:hover {
          background-color: #ff8000;
          color: white; }
    .featured > .feature.feature-4 {
      background-color: rgba(236, 236, 236, 0.62);
      background-image: url("/portfolio/assets/default/placeholderA.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      background-blend-mode: screen, multiply; }
      .featured > .feature.feature-4:hover {
        background-color: rgba(16, 16, 16, 0.38); }
      .featured > .feature.feature-4:hover {
        background-blend-mode: multiply, screen; }
      .featured > .feature.feature-4 .btn {
        background-color: #854300;
        border: 0.1rem solid white;
        color: white; }
        .featured > .feature.feature-4 .btn:hover {
          background-color: #ff8000;
          color: white; }
  .featured > .feature.feature-invert {
    color: white;
    transition: all 0.16s ease; }
    .featured > .feature.feature-invert:hover {
      color: black; }
    .featured > .feature.feature-invert.feature-1 {
      background-color: rgba(16, 16, 16, 0.38);
      background-image: url("/portfolio/assets/streamlio/Streamlio-BC-Rendering.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      background-blend-mode: multiply, screen; }
      .featured > .feature.feature-invert.feature-1:hover {
        background-color: rgba(236, 236, 236, 0.62); }
      .featured > .feature.feature-invert.feature-1:hover {
        background-blend-mode: screen, multiply; }
      .featured > .feature.feature-invert.feature-1 .btn {
        background-color: #520000;
        border: 0.1rem solid white;
        color: white; }
        .featured > .feature.feature-invert.feature-1 .btn:hover {
          background-color: #cc0000;
          color: white; }
    .featured > .feature.feature-invert.feature-2 {
      background-color: rgba(16, 16, 16, 0.38);
      background-image: url("/portfolio/assets/craftmaster/CraftMaster-Branding-AppIcons@1x.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      background-blend-mode: multiply, screen; }
      .featured > .feature.feature-invert.feature-2:hover {
        background-color: rgba(236, 236, 236, 0.62); }
      .featured > .feature.feature-invert.feature-2:hover {
        background-blend-mode: screen, multiply; }
      .featured > .feature.feature-invert.feature-2 .btn {
        background-color: #854300;
        border: 0.1rem solid white;
        color: white; }
        .featured > .feature.feature-invert.feature-2 .btn:hover {
          background-color: #ff8000;
          color: white; }
    .featured > .feature.feature-invert.feature-3 {
      background-color: rgba(16, 16, 16, 0.38);
      background-image: url("/portfolio/assets/default/placeholderA.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      background-blend-mode: multiply, screen; }
      .featured > .feature.feature-invert.feature-3:hover {
        background-color: rgba(236, 236, 236, 0.62); }
      .featured > .feature.feature-invert.feature-3:hover {
        background-blend-mode: screen, multiply; }
      .featured > .feature.feature-invert.feature-3 .btn {
        background-color: #001fb8;
        border: 0.1rem solid white;
        color: white; }
        .featured > .feature.feature-invert.feature-3 .btn:hover {
          background-color: #3355ff;
          color: white; }
    .featured > .feature.feature-invert.feature-4 {
      background-color: rgba(16, 16, 16, 0.38);
      background-image: url("/portfolio/assets/default/placeholderA.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      background-blend-mode: multiply, screen; }
      .featured > .feature.feature-invert.feature-4:hover {
        background-color: rgba(236, 236, 236, 0.62); }
      .featured > .feature.feature-invert.feature-4:hover {
        background-blend-mode: screen, multiply; }
      .featured > .feature.feature-invert.feature-4 .btn {
        background-color: #001fb8;
        border: 0.1rem solid white;
        color: white; }
        .featured > .feature.feature-invert.feature-4 .btn:hover {
          background-color: #3355ff;
          color: white; }

.full-width {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px; }
  .full-width .row {
    margin: 0px;
    padding: 0px; }

.thumbnail {
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: border 0.2s ease-in-out;
  -o-transition: border 0.2s ease-in-out;
  transition: border 0.2s ease-in-out; }
  .thumbnail > img,
  .thumbnail a > img {
    margin-right: auto;
    margin-left: auto; }
  .thumbnail caption {
    padding: 9px;
    color: #101010; }

.flex-gallery {
  padding: 0.5vw;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: row;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap; }
  .flex-gallery.flex-gallery-xsmall > figure {
    width: 100px; }
  .flex-gallery.flex-gallery-small > figure {
    width: 200px; }
  .flex-gallery.flex-gallery-large > figure {
    width: 400px; }
  .flex-gallery.flex-gallery-xlarge > figure {
    width: 500px; }
  .flex-gallery > figure {
    -webkit-box-flex: auto;
    -ms-flex: auto;
    flex: auto;
    width: 300px;
    margin: 0.5vw; }
    .flex-gallery > figure > img {
      width: 100%;
      height: auto; }
    .flex-gallery > figure > figcaption {
      padding-top: 1rem; }

a.thumbnail:hover, a.thumbnail:focus, a.thumbnail.active {
  border-color: #ff8000; }

.background-shade, .featured > .feature:hover > div, .featured > .feature.feature-invert > div {
  background-color: rgba(0, 0, 0, 0.6); }

.background-shade-light, .featured > .feature > div, .featured > .feature.feature-invert:hover > div {
  background-color: rgba(255, 255, 255, 0.6); }

.jumbotron.casestudy.cs-type,
.jumbotron.projects.cs-type,
.jumbotron.cta.cs-type, .jumbotron.casestudy.cs-type > .container,
.jumbotron.projects.cs-type > .container,
.jumbotron.cta.cs-type > .container, .jumbotron.casestudy.cs-type > .container > .row,
.jumbotron.projects.cs-type > .container > .row,
.jumbotron.cta.cs-type > .container > .row, .jumbotron.casestudy.cs-type + .jumbotron.casestudy > .container,
.jumbotron.projects.cs-type + .jumbotron.casestudy > .container,
.jumbotron.cta.cs-type + .jumbotron.casestudy > .container, .jumbotron.casestudy > .container,
.jumbotron.projects > .container,
.jumbotron.cta > .container {
  margin: 0;
  padding-top: 0;
  padding-bottom: 0; }

.cs-light {
  color: #101010;
  background: #ececec; }

.cs-dark {
  color: white;
  background: #202020; }

.jumbotron-salts, .jumbotron-syrups {
  background: #ececec no-repeat scroll center;
  background-size: cover; }
  .jumbotron-salts > h1, .jumbotron-syrups > h1 {
    color: white;
    text-shadow: 0px 3px 6px rgba(16, 16, 16, 0.62); }
.jumbotron-salts {
  background-image: url("../kitchen/assets/Hero-KevinsKitchen-Salts.png"); }
.jumbotron-syrups {
  background-image: url("../kitchen/assets/Hero-KevinsKitchen-Syrups.png"); }

.jumbotron.casestudy,
.jumbotron.projects,
.jumbotron.cta {
  margin: 0;
  padding: 7vmin;
  min-height: 35vh;
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  z-index: 1;
  color: #101010;
  background-color: white; }
  .jumbotron.casestudy.cs-light,
  .jumbotron.projects.cs-light,
  .jumbotron.cta.cs-light {
    color: #101010;
    background: #ececec; }
  .jumbotron.casestudy.cs-dark,
  .jumbotron.projects.cs-dark,
  .jumbotron.cta.cs-dark {
    color: white;
    background: #202020; }
  .jumbotron.casestudy.cs-type,
  .jumbotron.projects.cs-type,
  .jumbotron.cta.cs-type {
    min-height: 5rem; }
    .jumbotron.casestudy.cs-type > .container > .row,
    .jumbotron.projects.cs-type > .container > .row,
    .jumbotron.cta.cs-type > .container > .row {
      margin-left: -15px;
      margin-right: -15px;
      padding-top: 5rem; }
      .jumbotron.casestudy.cs-type > .container > .row:last-of-type,
      .jumbotron.projects.cs-type > .container > .row:last-of-type,
      .jumbotron.cta.cs-type > .container > .row:last-of-type {
        margin-bottom: 5rem; }
      .jumbotron.casestudy.cs-type > .container > .row.cs-footnote,
      .jumbotron.projects.cs-type > .container > .row.cs-footnote,
      .jumbotron.cta.cs-type > .container > .row.cs-footnote {
        margin-bottom: 1rem; }
  .jumbotron.casestudy h1, .jumbotron.casestudy h2, .jumbotron.casestudy h3, .jumbotron.casestudy h4, .jumbotron.casestudy h5,
  .jumbotron.projects h1,
  .jumbotron.projects h2,
  .jumbotron.projects h3,
  .jumbotron.projects h4,
  .jumbotron.projects h5,
  .jumbotron.cta h1,
  .jumbotron.cta h2,
  .jumbotron.cta h3,
  .jumbotron.cta h4,
  .jumbotron.cta h5 {
    color: #ff8000; }
  .jumbotron.casestudy > .container,
  .jumbotron.projects > .container,
  .jumbotron.cta > .container {
    padding-top: 7vmin; }
    .jumbotron.casestudy > .container.background-shade, .featured > .feature.jumbotron.casestudy:hover > div.container, .featured > .feature.feature-invert.jumbotron.casestudy > div.container,
    .jumbotron.projects > .container.background-shade,
    .featured > .feature.jumbotron.projects:hover > div.container,
    .featured > .feature.feature-invert.jumbotron.projects > div.container,
    .jumbotron.cta > .container.background-shade,
    .featured > .feature.jumbotron.cta:hover > div.container,
    .featured > .feature.feature-invert.jumbotron.cta > div.container {
      background-color: rgba(32, 32, 32, 0.6); }
  .jumbotron.casestudy.cs-design > .row.background,
  .jumbotron.projects.cs-design > .row.background,
  .jumbotron.cta.cs-design > .row.background {
    background: url("../images/Hero-KevinBomberry-WatchAndGearsIllustration.jpg") no-repeat scroll center;
    -webkit-filter: brightness(62%);
    filter: brightness(62%); }
  .jumbotron.casestudy.cs-cooking,
  .jumbotron.projects.cs-cooking,
  .jumbotron.cta.cs-cooking {
    background: url("../images/Hero-KevinBomberry-Design.jpg") no-repeat scroll center; }
  .jumbotron.casestudy.cs-felix,
  .jumbotron.projects.cs-felix,
  .jumbotron.cta.cs-felix {
    background: url("../portfolio/assets/felix/projectfelix-marquee-1200x550.png") no-repeat scroll center black;
    background-size: cover; }
  .jumbotron.casestudy.cs-photoshopcom,
  .jumbotron.projects.cs-photoshopcom,
  .jumbotron.cta.cs-photoshopcom {
    background: url("../portfolio/assets/craftmaster/CraftMaster-MasterlyFont-Background.png") no-repeat scroll center; }
  .jumbotron.casestudy.cs-craftmaster-bg,
  .jumbotron.projects.cs-craftmaster-bg,
  .jumbotron.cta.cs-craftmaster-bg {
    background: url("../portfolio/assets/craftmaster/CraftMasterBackground.png") repeat scroll center; }
  .jumbotron.casestudy.cs-craftmaster,
  .jumbotron.projects.cs-craftmaster,
  .jumbotron.cta.cs-craftmaster {
    background: url("../portfolio/assets/craftmaster/CraftMaster-MasterlyFont-Background.png") no-repeat scroll center; }
  .jumbotron.casestudy.cs-cm-masterly,
  .jumbotron.projects.cs-cm-masterly,
  .jumbotron.cta.cs-cm-masterly {
    background: url("../portfolio/assets/craftmaster/CraftMaster-MasterlyFont-Background.png") no-repeat scroll center; }
  .jumbotron.casestudy.cs-streamlio-bg,
  .jumbotron.projects.cs-streamlio-bg,
  .jumbotron.cta.cs-streamlio-bg {
    background: url("../portfolio/assets/streamlio/plexus-bg.png") no-repeat scroll center;
    background-size: cover; }

.jumbotron.projects h1, .jumbotron.projects h2, .jumbotron.projects h3, .jumbotron.projects h4, .jumbotron.projects h5 {
  color: #3355ff; }

.boxshadow:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0px 0 1ch;
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 0 0 1ch;
  box-shadow: rgba(0, 0, 0, 0.8) 0 0 1ch; }

.label.tag, .label.keyword, .label.breadcrumb {
  padding: 1ch 2ch;
  margin-left: 1ch;
  margin-right: 1ch;
  display: inline-block;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.3); }
  .label.tag:first-child, .label.keyword:first-child, .label.breadcrumb:first-child {
    margin-left: 0; }
  .label.tag:last-child, .label.keyword:last-child, .label.breadcrumb:last-child {
    margin-right: 0; }
  .label.tag:hover, .label.keyword:hover, .label.breadcrumb:hover {
    color: #101010;
    /* box-shadow */
    -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0px 0 1ch;
    -moz-box-shadow: rgba(0, 0, 0, 0.8) 0 0 1ch;
    box-shadow: rgba(0, 0, 0, 0.8) 0 0 1ch; }
.label.tag {
  /* border-radius */
  -webkit-border-radius: 2ch;
  -moz-border-radius: 2ch;
  border-radius: 2ch; }
.label.keyword {
  -webkit-border-radius: 0ch 2ch 2ch 0;
  -moz-border-radius: 0ch 2ch 2ch 0;
  border-radius: 0ch 2ch 2ch 0; }
.label.breadcrumb {
  border-radius: 1ch; }

.pad-top {
  padding-top: 7.5rem; }
  .pad-top-small {
    padding-top: 2.5rem; }
  .pad-top-medium {
    padding-top: 5rem; }
  .pad-top-large {
    padding-top: 10rem; }
.pad-all-small {
  padding: 2.5rem; }
.pad-h-small, .container.contact {
  padding-left: 2.5rem;
  padding-right: 2.5rem; }
.pad-h-default {
  padding-left: 15px;
  padding-right: 15px; }
.pad-h-zero {
  padding-left: 0;
  padding-right: 0; }
.pad-h-clear {
  padding-left: -15px;
  padding-right: -15px; }

.m-pad-top {
  margin-top: 7.5rem; }
  .m-pad-top-small {
    margin-top: 2.5rem; }
  .m-pad-top-medium {
    margin-top: 5rem; }
  .m-pad-top-large {
    margin-top: 10rem; }

/*    ANIMATIONS:   */
/*    DROPDOWN ANIMATION    */
/*    DROPDOWN ANIMATION - TO BE USED/FIXED FOR TOUCH/MOBILE    */
/*    HOVER ANIMATION - Center Out    */
.underline-center-outward {
  display: inline-block;
  position: relative;
  padding-bottom: 1vmin; }
  .underline-center-outward:after {
    content: "";
    display: block;
    margin: auto;
    height: 0.5vmin;
    width: 0px;
    background: transparent;
    transition: width 382ms ease-in-out, background-color 618ms ease-in-out; }
  .underline-center-outward:hover:after {
    width: 100%;
    background-color: #ff8000; }

footer {
  position: static;
  bottom: 0;
  left: 0;
  right: 0; }

.copyrightNotice {
  text-align: center;
  color: #bcbcbc;
  font-size: 0.75rem; }

.test.SASS {
  background-color: #ff8000; }

.test.location-site,
.color-site {
  color: black; }
.test.location-resume,
.color-resume {
  color: #cc0000; }
.test.location-portfolio,
.color-portfolio {
  color: #ff8000; }
.test.location-kitchen,
.color-kitchen {
  color: yellow; }
.test.location-1,
.color-1 {
  color: #009900; }
.test.location-projects,
.color-projects {
  color: #3355ff; }
.test.location-contact,
.color-contact {
  color: #8800cc; }
.test.location-adobe,
.color-adobe {
  color: #0e84cf; }
.test.location-apple,
.color-apple {
  color: #0e84cf; }

/*# sourceMappingURL=bomberry.css.map */
