<!-- Contact Section -->
<a id="contact"></a>
<hr>
<div class="container contact well">
  <div class="row">
    <div class="col-xs-12 col-sm-12">
      <h3 class="title">Contact</h3>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
      <address>
      <span class="fa fa-user-circle" aria-hidden="true"></span> <strong>Kevin Bomberry</strong><br>
      <span class="fa fa-home" aria-hidden="true"></span> Burlingame, CA 94010<br>
      <span class="fa fa-envelope-o" aria-hidden="true"></span> <a href="mailto:kevin+contact@bomberry.com">kevin+contact@bomberry.com</a>
  <!--  <abbr title="Phone">P:</abbr> (123) 456-7890-->
      </address>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"> <span class="text-right"> </span>
      <address>
        <span class="fa fa-desktop" aria-hidden="true"></span> <strong>Work</strong><br>
        <span class="fa fa-external-link" aria-hidden="true"></span> <a href="http://www.ablepear.com">Able Pear Software</a><br>
        <span class="fa fa-external-link" aria-hidden="true"></span> <a href="http://www.craftmastersoftware.com">CraftMaster Software</a><br>
        {{/* <a href="http://www.photoshopdimensions.com">Photoshop Dimensions</a><br> */}}
      </address>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"> <span class="text-right"> </span>
      <address>
        <span class="fa fa-sign-in" aria-hidden="true"></span> <strong>Social</strong><br>
        <span class="fa fa-linkedin-square" aria-hidden="true"></span> <a href="https://www.linkedin.com/in/bomberry/">Linkedin</a><br>
        <span class="fa fa-facebook-square" aria-hidden="true"></span> <a href="https://www.facebook.com/kevinbomberry">Facebook</a><br>
        <span class="fa fa-twitter-square" aria-hidden="true"></span> <a href="https://twitter.com/Bomberry">Twitter</a><br>
      </address>
    </div>
  </div>
</div>
