<!-- Contact Section -->
<a id="contact"></a>
{{/* <hr> */}}
<div class="container contact well">
  <div class="row">
    <div class="col-xs-12 col-sm-12">
      <h3 class="title">Contact</h3>
    </div>
    <div class="col-xs-12 col-sm-5 col-sm-offset-1">
      <address>
        <span class="fa fa-user-circle hidden-xs" aria-hidden="true"></span> <strong>Kevin Bomberry</strong><br>
        <span class="fa fa-home hidden-xs" aria-hidden="true"></span> Burlingame, CA 94010<br>
      </address>
    </div>
    <div class="col-xs-12 col-sm-5 col-sm-offset-1"> <span class="text-right"> </span>
      <address>
        <span class="fa fa-linkedin-square hidden-xs" aria-hidden="true"></span> <a href="https://www.linkedin.com/in/bomberry/">Linkedin</a><br>
        <span class="fa fa-envelope-o hidden-xs" aria-hidden="true"></span> <a href="mailto:kevin+contact@bomberry.com">kevin+contact@bomberry.com</a>
      </address>
    </div>
  </div>
</div>
