<div class="container well">
  <div class="row">
<div class="col-xs-12 col-sm-12 col-lg-4 col-md-4"> <span class="text-right">
      </span>
  <h3>About Me</h3>
  <hr>
  <p>I was born in Southern California, raised in Northern Califorina, and currently living in Central California's Bay Area.</p>
  <p>I have a deep interest in most nouns, I'm not as active as I should be with some adjectives, but I'm constantly having fun with verbs.</p>
  <p>Some of my current interest include; concepts of contextual interaction systems and how they relate to individuals and groups in a realtime immersive or partially-immersive atomomous or collaborative environment&hellip; and cooking.</p>
</div>
<div class="col-xs-12 col-sm-12 col-lg-4 col-md-4"> <span class="text-right"> </span>
  <h3>Latest News</h3>
  <hr>
  <div class="media-object-default">
  <div class="media">
  <div class="media-body">
        <h4 class="media-heading">Resumé &amp; Portfolio</h4>
After more than 20 years, I've started putting togeter a living resumé &amp; portfolio.
    <h5 class="media-bottom">View the <a class="btn-link" href="/resume/">Resume</a> or <a class="btn-link" href="/portfolio/">Portfolio <span class="glyphicon glyphicon-chevron-right"></span></a></h5>
    </div>
      <div class="media-right"> <a href="/resume/"> <img class="media-object" src="media/images/News-ResumeAndPortfolio.svg" height="75px"  alt="placeholder image"></a></div>
</div>
<div class="media">
  <div class="media-body">
    <h4 class="media-heading">Kevin's Kitchen</h4>
For those of you who don't know, I can be found in the kitchen making tasty things to share with friends, family, clients, and colleagues.
<h5 class="media-bottom">Visit <a class="btn-link" href="/kitchen/">Kevin's Kitchen <span class="glyphicon glyphicon-chevron-right"></span></a></h5>
  </div>
  <div class="media-right"> <a href="/kitchen/"> <img class="media-object" src="media/images/News-KKSS-Logo01aSolid.svg" height="75px" alt="placeholder image"></a></div>
</div>
</div>
</div>
<div class="col-xs-12 col-sm-12 col-lg-4 col-md-4"> <span class="text-right"> </span>
  <h3>Contact Me</h3>
  <hr>

    <address>
      <span class="fa fa-user-circle" aria-hidden="true"></span> <strong>Kevin Bomberry</strong><br>
      <span class="fa fa-home" aria-hidden="true"></span> Burlingame, CA 94010<br>
      <span class="fa fa-envelope-o" aria-hidden="true"></span> <a href="mailto:kevin+contact@bomberry.com">kevin+contact@bomberry.com</a>
<!--  <abbr title="Phone">P:</abbr> (123) 456-7890-->
    </address>

      <address>
        <span class="fa fa-desktop" aria-hidden="true"></span> <strong>Work</strong><br>
        <a href="http://www.ablepear.com">Able Pear Software</a><br>
        <a href="http://www.craftmastersoftware.com">CraftMaster Software</a><br>
        <a href="http://www.photoshopdimensions.com">Photoshop Dimensions</a><br>
      </address>

      <address>
        <span class="fa fa-sign-in" aria-hidden="true"></span> <strong>Social</strong><br>
        <span class="fa fa-linkedin-square" aria-hidden="true"></span> <a href="https://www.linkedin.com/in/bomberry/">Linkedin</a><br>
        <span class="fa fa-facebook-square" aria-hidden="true"></span> <a href="https://www.facebook.com/kevinbomberry">Facebook</a><br>
        <span class="fa fa-twitter-square" aria-hidden="true"></span> <a href="https://twitter.com/Bomberry">Twitter</a><br>
      </address>
    </div>
  </div>
</div>
