<section class="container clients">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 breath-v">
      <h2 class="pad-top-small text-center">Amazing organizations I've worked with.</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 clients-logos">
      {{ range .Site.Params.client_logo }}
        <div class="client-logo animated fadeIn wow">
          <figure>
            <img class="img-responsive" src="./media/logos/{{ .imgage }}{{ if .style }}-{{ .style }}{{ end }}.{{ .format }}" />
            <figcaption></figcaption>
          </figure>
        </div>
      {{ end }}
    </div>
  </div>
</section>
