<!-- Contact Section -->
<section class="pad-top-small">
  <a id="contact"></a>
  <div class="container contact animated fadeIn wow">
    <div class="row">
      <div class="col-xs-12">
        <h3 class="title">Contact</h3>
      </div>
      <div class="col-xs-12 col-sm-5 col-sm-offset-1">
        <address>
          <span class="fa fa-user-circle hidden-xs" aria-hidden="true"></span> <strong>Kevin Bomberry</strong><br>
          <span class="fa fa-home hidden-xs" aria-hidden="true"></span> Burlingame, CA 94010<br>
        </address>
      </div>
      <div class="col-xs-12 col-sm-5 col-sm-offset-1"> <span class="text-right"> </span>
        <address>
          <span class="fab fa-linkedin hidden-xs" aria-hidden="true"></span> <a class="location-{{.Params.location_name}}" href="https://www.linkedin.com/in/bomberry/">Linkedin</a><br>
          <span class="fa fa-envelope hidden-xs" aria-hidden="true"></span> <a class="location-{{.Params.location_name}}" href="mailto:kevin+contact@bomberry.com">kevin+contact@bomberry.com</a>
        </address>
      </div>
    </div>
  </div>
</section>
