<section class="container animated fadeIn wow">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 breath-v">
      <h2 class="pad-top-small">Let's set up a call or grab coffee and talk about the exciting opportunities of working together.</h2>
      <p class="lead breath-top">Need help with a project? Would you like a design review? Have a problem you need to solve? Let's chat and start a new story together.</p>
    </div>
  </div>
</section>
