<section class="featured">
  <div class="feature feature-medium feature-invert feature-1 animated fadeIn wow">
    <div class="background-shade-light">
      <h6 class="services">Branding | Web Development</h6>
      <p class="company lead">Streamlio</p>
      <h3>Building A Better Brand</h3>
      <p>Developing a cohesive brand and online presence is a challange all startups face.</p>
      <p class="breath-top-small"><a class="btn" href="/portfolio/streamlio/"><span class="fa fa-briefcase"></span> case study <span class="fa fa-chevron-right"></span></a></p>
    </div>
  </div>
  <div class="feature feature-medium feature-invert feature-2 animated fadeIn wow">
    <div class="background-shade-light">
      <h6 class="services">Product Design | Branding | Web Development</h6>
      <p class="company lead">CraftMaster Software</p>
      <h3>Creating A Cross-Platform MineCraft Utility App</h3>
      <p>Getting things in and out of MineCraft can be hard, so we made an application to make it easy for everyone.</p>
      <p class="breath-top-small"><a class="btn" href="/portfolio/craftmaster/"><span class="fa fa-briefcase"></span> case study <span class="fa fa-chevron-right"></span></a></p>
    </div>
  </div>
  {{/* <div class="feature feature-medium feature-3">
    <div class="background-shade-light">
      <h6 class="services">Technology Exploration</h6>
      <p class="company lead">Project A.R.I.A.</p>
      <h3>Augmented Reality In Advertising</h3>
      <p>How do you bring AR to the masses? Make advertisements interactive experiences.</p>
      <p class="breath-top-small"><a class="btn" href="/portfolio/"><span class="fa fa-briefcase"></span> case study <span class="fa fa-chevron-right"></span></a></p>
    </div>
  </div> */}}
  {{/* <div class="feature feature-medium feature-4">
    <div class="background-shade-light">
      <h6 class="services">UX/UI/IxD Exploration</h6>
      <p class="company lead">Unified UI Graph Presentation</p>
      <h3>Layers And Graphs And Breadcrumbs!<br />(Oh My!)</h3>
      <p>Understanding the UI Scene Graph can be challanging,so I created unified solution.</p>
      <p class="breath-top-small"><a class="btn" href="/portfolio/"><span class="fa fa-briefcase"></span> case study <span class="fa fa-chevron-right"></span></a></p>
    </div>
  </div> */}}
</section>
