<footer>
  <div class="container">
    <div class="row pad-top-small">
      <div class="col-xs-12">
        {{ if .Site.Params.copyright }}
        <p class="copyrightNotice">{{ replace .Site.Params.copyright "{year}" now.Year | htmlUnescape }}</p>
        {{ else if .Site.Params.copyrightHTML }}
        <p class="copyrightNotice">{{ .Site.Params.copyrightHTML | htmlUnescape }}</p>
        {{ else }}
        <p class="copyrightNotice">Copyright &copy; 1989&mdash;2018 Kevin Bomberry. All rights reserved. All other &copy;&nbsp;&#124;&nbsp;&reg;&nbsp;&#124;&nbsp;&trade; rights reserved by original holders respectively.</p>
        {{ end }}
      </div>
    </div>
  </div>
</footer>
