<!--Main JS for Bomberry.com-->
{{ $jsFilename := "bomberry.js" }}
{{ $bootstrapJSFilename := "bootstrap.js" }}
{{ $jQueryJSFilename := "jquery-1.11.3.min.js" }}
<!-- jQuery (necessary for jQuery's JavaScript plugins) -->
<script src="/js/{{ $jQueryJSFilename }}"></script>
<!-- Bootstrap (necessary for Bootstrap's JavaScript plugins) -->
<script src="/js/{{ $bootstrapJSFilename }}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/js/{{ $jsFilename }}"></script>
