<div class="modal fade in" id="modalDialog" tabindex="-1" role="dialog" aria-labelledby="modalDialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" data-dismiss="modal">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><!--<span class="fa fa-times-circle" aria-hidden="true"></span>--><span class="sr-only">Close</span></button>
        <!-- <img src="" class="img-responsive imagePreview" style="width: 100%;"> -->
        <figure>
          <figcaption class="imageCaption text-left"></figcaption>
          <figcaption class="imageDetail text-left"></figcaption>
          <img src="" class="img-responsive imagePreview">
        </figure>
      </div>
    </div>
  </div>
</div>
