{{/* <div class="jumbotron casestudy">
  <div class="container">
    <div class="row breath-top-small">
      <div class="col-xs-6 col-xs-offset-0 col-sm-6 col-sm-offset-0 col-md-6 col-md-offset-0 text-left">
        <div class="lead"><a href="../#{{ .File }}" class="color-portfolio"><!--<span class="fa fa-briefcase"></span> -->Return to Portfolio <span class="fa fa-arrow-circle-left"></span></a></div>
      </div>
      return-portfolio
      <div class="col-xs-6 col-xs-offset-0 col-sm-6 col-sm-offset-0 col-md-6 col-md-offset-0 text-right">
        <div class="lead"><a href="{{ .Permalink }}/craftmaster" class="color-portfolio"><!--<span class="fa fa-briefcase"></span> -->Case Study <span class="fa fa-briefcase"></span></a></div>
      </div>
    </div>
  </div>
</div> */}}

<div class="jumbotron casestudy return-portfolio">
  <div class="container">
    <div class="row breath-top-small">
      <div class="col-sm-12 col-sm-offset-0 col-md-6 col-md-offset-0 text-left">
        <div class="lead"><a href="../#{{ .File }}" class="color-portfolio"><span class="fa fa-arrow-circle-left icon-pad-right animated heartBeat infinite"></span>return to portfolio</a></div>
      </div>
      <div class="col-sm-12 col-sm-offset-0 col-md-6 col-md-offset-0 text-right">
        {{/* <div class="lead"><a href="./portfolio/craftmaster" class="color-portfolio"><!--<span class="fa fa-briefcase"></span> -->read next case study <span class="fa fa-briefcase"></span></a></div> */}}
      </div>
    </div>
  </div>
</div>
