<!-- Skills Section -->
<section>
  <a id="skills"></a>
  <div class="container">
   {{/* <hr> */}}
    <div class="row color-resume">
      <div class="col-md-10 col-md-offset-1 text-left">
        <h2>Skills</h2>
      </div>
    </div>

    <hr>
    <!-- Focus -->
    <article>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h3>Focus</h3>
        </div>
      </div>
      <div class="row">
        {{ range $.Site.Data.resume }}
          {{ range .skills.focus }}
            {{ partial "skillsList" . }}
          {{ end }}
        {{ end }}
      </div>
    </article>

    <hr>
    <!-- Abilities -->
    <article>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h3>Abilities</h3>
        </div>
      </div>
      <div class="row">
        {{ range $.Site.Data.resume }}
          {{ range .skills.abilities }}
            {{ partial "skillsList" . }}
          {{ end }}
        {{ end }}
      </div>
    </article>

    <hr>
    <!-- Traits -->
    <article>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h3>Traits</h3>
        </div>
      </div>
      <div class="row">
        {{ range $.Site.Data.resume }}
          {{ range .skills.traits }}
            {{ partial "skillsList" . }}
          {{ end }}
        {{ end }}
      </div>
    </article>

    <hr>
    <!-- Tools -->
    <article>
      <a id="tools"></a>
      <div class="row color-resume">
        <div class="col-md-4 col-md-offset-1">
          <h3>Tools</h3>
        </div>
        <div class="col-md-5 col-md-offset-1">
          {{/* <h6>&nbsp;</h6> */}}
          <h3><span class="text-muted">Proficiency</span></h3>
        </div>
      </div>
      <hr />
      {{ range $.Site.Data.resume }}
        {{ partial "toolsList" . }}
      {{ end }}
    </article>
  </div>
</section>
