<!-- Skills Section -->
<section class="pad-top-small">
  <a id="skills"></a>
  <div class="container">
   <hr>
    <div class="row color-{{.Params.location_name}} animated fadeIn wow">
      <div class="col-md-10 col-md-offset-1 text-left">
        <h2>Skills</h2>
      </div>
    </div>
    <hr class="hidden-sm">
    <!-- Focus -->
    <article class="animated fadeIn wow">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h3>Focus</h3>
        </div>
      </div>
      <div class="row">
        {{ range $.Site.Data.resume }}
          {{ range .skills.focus }}
            {{ partial "skillsList" . }}
          {{ end }}
        {{ end }}
      </div>
    </article>

    <hr>
    <!-- Abilities -->
    <article class="animated fadeIn wow">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h3>Abilities</h3>
        </div>
      </div>
      <div class="row">
        {{ range $.Site.Data.resume }}
          {{ range .skills.abilities }}
            {{ partial "skillsList" . }}
          {{ end }}
        {{ end }}
      </div>
    </article>

    <hr>
    <!-- Traits -->
    <article class="animated fadeIn wow">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h3>Traits</h3>
        </div>
      </div>
      <div class="row">
        {{ range $.Site.Data.resume }}
          {{ range .skills.traits }}
            {{ partial "skillsList" . }}
          {{ end }}
        {{ end }}
      </div>
    </article>

    <hr>
  </div>
</section>
